---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Blog from "@/components/react/pages/blog";
import ThemeButton from "@/components/ThemeButton.astro";
import { getAllTagsAndYears } from "@/libs/blog";
import { entryToPostListItem } from "@/libs/posts";

export async function getStaticPaths() {
  const { tags } = await getAllTagsAndYears();
  return tags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params as { tag: string };

const entries = await getCollection("posts");
const allPosts = entries
  .map(entryToPostListItem)
  .sort((a, b) => b.date.getTime() - a.date.getTime());
const { tags, years } = await getAllTagsAndYears();

const filteredPosts = allPosts.filter((post) => post.tags?.includes(tag));
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`bluenex's blog — #${tag}`}
      description={`Posts tagged with #${tag}.`}
    />
  </head>
  <body>
    <div class="relative container mx-auto md:max-w-2xl">
      <ThemeButton class="absolute top-8 right-8 z-10 md:right-0" />
    </div>

    <Blog
      filteredPosts={filteredPosts}
      tags={tags}
      years={years}
      selectedYear={null}
      selectedTag={tag}
      client:load
    />
  </body>
</html>
